{#
 # Copyright 2015 Guillaume Royer
 #
 # This file is part of DataElections.
 #
 # DataElections is free software: you can redistribute it and/or modify it
 # under the terms of the GNU Affero General Public License as published by the
 # Free Software Foundation, either version 3 of the License, or (at your
 # option) any later version.
 #
 # DataElections is distributed in the hope that it will be useful, but WITHOUT
 # ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 # FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 # details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with DataElections. If not, see <http://www.gnu.org/licenses/>.
 #}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="row pushBottom">
      <div class="col-md-6 col-md-offset-3 text-center">
          {{ form(form) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          <a href="https://github.com/guilro/data-elections">Le code</a> du projet est
          disponible librement en ligne sous licence
          <a href="http://www.gnu.org/licenses/agpl-3.0.fr.html">AGPL 3.0</a>.
        </p>
      </div>
    </div>
{% endblock %}

{% block javascript %}
  <script>
    var selectizeOptions = {
      valueField: 'url',
      searchField: 'nom',
      labelField: 'nom',
      create: function(input, callback) {
        return {
            nom: input,
            url: '{{ path('rechercher') }}/' + input
        };
      },
      load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
              url: '{{ path('rechercher_json') }}/' + query,
              type: 'GET',
              dataType: 'json',
              error: function() {
                  callback();
              },
              success: function(res) {
                  callback(res);
              }
          });
      },
      render: {
        option_create: function(item, escape) {
          return '<div class="create">Rechercher "' + item.input + '"</div>';
        }
      },
      maxItems: 1,
      addPrecedence: true,
      dropdownParent: 'body',
      onChange: function(value) {
        window.location.href = value;
      }
    };
    $(function() {
      var $select = $('#form_terme').selectize(selectizeOptions);
      $select[0].selectize.clear();
      $select[0].selectize.clearOptions();

      $('#form_Rechercher').click(function() {
        return false;
      });
    });
  </script>
{% endblock %}
